body {
    background: #0e0e0e;
    color: #fff;
    font-family: "Myriad Pro", sans-serif;
}

.search-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #6c6b6b;
}

.search-form ::-moz-placeholder { /* Firefox 19+ */
    color: #6c6b6b;
}

.search-form :-ms-input-placeholder { /* IE 10+ */
    color: #6c6b6b;
}

.search-form :-moz-placeholder { /* Firefox 18- */
    color: #6c6b6b;
}

.main-content {
    background: url(../images/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 45px 0;
}

.header {
    background: url(../images/bg-header.png);
    background-repeat: no-repeat;
}

.logo img {
    width: 136px;
}

.main-menu {
    background: rgba(255, 255, 255, 0.01);
}

.list-button a {
    background: #2444d4;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 2px 15px 2px 10px;
    position: relative;
    margin-left: 10px;
}

.list-button a::after {
    background: #4c65ff;
    width: 7px;
    height: 100%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}

.top-header {
    padding: 10px 0;
}

.main-menu .navbar {
    margin: 0;
    min-height: 0;
}

.main-menu li a {
    color: #6c6b6b;
}

.navbar-nav > li > a {
    padding: 7px 15px;
}

.navbar-header a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 50px 7px 7px;
    height: auto;
}

.nav > li > a:focus, .nav > li:hover > a, .nav > li.active > a {
    background-color: transparent;
    color: #fff;
}

.nav i {
    margin-right: 5px;
}

.logo-slider {
    margin-bottom: 45px;
}

.search-form form {
    width: 60%;
    display: inline-block;
}

.search-form input {
    background: #191919;
    border: none;
    font-size: 16px;
}

.search-form {
    margin-bottom: 45px;
}

.search-form button {
    background: #000;
    color: #fff;
    padding: 5px 25px;
    border: 1px solid;
}

.data-item b {
    color: #cacaca;
    font-size: 30px;
}

.data-item p {
    color: #6c6b6b;
    font-size: 17px;
}

.panel-heading {
    background: #3e3e3e !important;
    border: 2px solid #2c2c2c !important;
}

.panel-heading h3 {
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    color: #878787;
}

.filter {
    margin: 20px;
    color: #6c6b6b;
    display: inline-block;
    width: 100%;
}

.filter select {
    width: 65px;
    float: left;
    height: 30px;
    margin: -5px 10px;
}

.filter span {
    float: left;
}

.panel {
    background: #272727;
    border: 2px solid #2c2c2c !important;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #2c2c2c;
}

.table-hover > tbody > tr:hover {
    background-color: transparent !important;
}

.panel thead {
    background: #1e1e1e;
}

.panel .panel-body {
    padding: 0;
}

.table > tbody > tr:nth-of-type(2n+1) {
    background-color: #111111;
}

.list-transaction {
    padding: 50px;
}

.panel .panel-footer {
    background: #272727;
    border: none;
}

.panel .table {
    border: 2px solid #2c2c2c;
    margin: 0;
    width: 100% !important;
}

.panel th {
    text-align: center;
}

div.dataTables_length label {
    color: #6c6b6b;
}

div.dataTables_info {
    color: #6c6b6b;
}

.copyright a {
    color: #6c6b6b;
}

.statistic {
    position: absolute;
    right: 20px;
    top: 10px;
}

.showing {
    color: #6c6b6b;
}

.list-paging a {
    color: #6c6b6b;
}

.list-paging a.active, .list-paging a:hover {
    background: #319fd2;
    color: #fff;
}

.list-paging a.page-no {
    color: #fff;
    padding: 8px 10px;
}

.footer {
    position: relative;
    padding: 15px 0;
    border-top: 1px solid #6c6b6b;
}

table#recent-table {
    width: auto !important;
}

a {
    color: white;
}

.dataTables_wrapper .row {
    margin: 10px 0;
}

.dataTables_wrapper .row > .col-xs-6 {
    text-align: left;
}

label#lblBlockcount {
    margin-right: 5px;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: transparent;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.pagination > li > a, .pagination > li > span {
    color: #6c6b6b;
    background-color: transparent;
    border: transparent;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: 2px solid #2c2c2c;
    border-bottom-color: transparent;
}

.nav-tabs > li > a:hover {
    border-color: #2c2c2c;
}
